# frozen_string_literal: true

# {{ .Name.Singular.Title }} is a model class for {{ .Name.Plural.Snake }}
class {{ .Name.Singular.Title }} < ApplicationRecord
  self.primary_key = :id
  self.implicit_order_column = :created_at
end
